---
layout: post
title: 'Sympli: Life changing tool'
date: 2016-06-08 20:16:45.000000000 +02:00
type: post
published: true
status: publish
categories:
- Design
tags:
- Collaboration
- Design
- Designers
- Developers
- Sympli
- User Interface
meta:
  _edit_last: '1'
  _yoast_wpseo_primary_category: '20'
  _jetpack_related_posts_cache: a:1:{s:32:"8f6677c9d6b0f903e98ad32ec61f8deb";a:2:{s:7:"expires";i:1493591747;s:7:"payload";a:3:{i:0;a:1:{s:2:"id";i:348;}i:1;a:1:{s:2:"id";i:201;}i:2;a:1:{s:2:"id";i:48;}}}}
  _thumbnail_id: '180'
  _yoast_wpseo_focuskw_text_input: Sympli
  _yoast_wpseo_focuskw: Sympli
  _yoast_wpseo_linkdex: '75'
  _wpas_done_all: '1'
  _yoast_wpseo_content_score: '30'
  _jetpack_dont_email_post_to_subs: '1'
author:
  login: sanaa.squalli@gmail.com
  email: sanaa.squalli@gmail.com
  display_name: Sanaa Squalli
  first_name: ''
  last_name: ''
---
<h3><strong>Design matters...</strong></h3>
<p>User Interface/User Experience (UI/UX) design is very critical for the success of your application. Smart and efficient design can spark users’ interest and keep them using the software.</p>
{% include image.html
            img="uploads/2016/06/Dashlane-4-designs.png"
            width="640" height="313"
            title="Dashlane design across all platforms"
            caption="Dashlane design across all platforms"
%}
<p>At <a href="http://www.dashlane.com">Dashlane</a>, an emphasis is put on having great designs with a streamlined, simple and user-friendly interface to create a seamless experience for end-users.</p>
<p>Working in an Agile environment provides excellent visibility for designers and developers. The developers get a better view of the features they are working on, and they can give technical feedback to designers that will help the conception and achieve goals.</p>
<h3><strong>The cracks begin to show</strong></h3>
<p>However, this communication is not always fluid. Before I go into details, let me give you a breakdown of my personal experience as a Mac UI developer.</p>
<p>For each feature, we have to add, at some point the design gets approved, and it’s time for implementation.<br />
If everything were well-organised developers would have a known place where they can find the necessary elements of the design such as colors used, the margins between UI elements, their sizes, fonts, images and so on…</p>
<p>But unfortunately, this is pretty hard for designers to maintain.</p>
<p>We end up with a PNG design file and a lot of questions and back and forth.<br />
Things get even worse when the “final design” has to be updated, which happens pretty much all the time. Usually, it starts with tweaks of existing elements that is communicated via slack or attached to Jira. Then other changes come up, and it’s a repeated cycle again.<br />
It gets hard to keep track of all changes and ensure nothing is missed. Those modifications have to be communicated to all other developers on other teams making sure they are up to date.</p>
<h3><strong>Sympli as a solution</strong></h3>
<p>My personal experience coupled with frustration, had me thinking there has to be a tool out there to facilitate this entire process. My search leads me to <a href="http://sympli.io">Sympli</a>.</p>
<p>A tech company based in Washington D.C, Sympli is a collaboration tool, bridging the gap between designers and developers.<br />
Sympli is a handy tool, available as a Web app and a plugin for Android Studio and Xcode. It supports both Sketch and Photoshop designs. It’s free for one project with price points to reflect project sizes.</p>
<p>Sympli provides visual specs of the design elements in platform-specific units. It generates color palettes that can be grouped in categories (Brand books). Bitmap and vector assets can be exported quickly and easily. Where needed, you can apply all style guides in one click from Sympli plugin.<br />
You can annotate design inside Sympli, alongside with design version control.<br />
The outstanding feature for me is the ability to drag and drop design elements to Xcode to generate layouts. For Android developers, this feature is coming soon with Layout Editor.</p>
{% include image.html
            img="uploads/2016/06/Sympli-Demo.png"
            width="660" height="309"
            title="Example of Sympli being within the Web Application"
            caption="Example of Sympli being within the Web Application"
%}
<p>From my conversation I had with Sympli support (excellent customer service), here is a brief summary of upcoming features:</p>
<ul>
<li>Official support for Mac projects by adding the drag &amp; drop feature, the same thing applies to the new Layout Editor for Android.</li>
<li>Designers won’t need to communicate what changes they made as they will be shown by a side-by-side visual versions comparison.</li>
<li>Code-level styling in Swift and Objective-C when implementing the UI by code and not in Interface Builder.</li>
</ul>
<h3><strong>Thoughts...</strong></h3>
<p>After extensive use of Sympli, I felt this could be a useful tool for Dashlane. Always one looking for new and better ways to improve processes, a demo was much needed to convince Dashlane we could improve and save time with our design and implementation process. My presentation demonstrated the ease of use and how Sympli eliminates ambiguity.</p>
{% include image.html
            img="uploads/2016/06/SanaaPresentingSympli.jpg"
            width="640" height="481"
            title="SanaaPresentingSympli"
%}
<p>This presentation generated a lot of awareness and sparked interests. After further discussions, we have decided to give Sympli a try and see how this will better simplify our current process.</p>
<p>An upcoming post will further update you on how we have incorporated Sympli into our workflow and how it is working out for us.</p>
<p>Have you used Sympli? What are your thoughts on it? Let me know in a comment below.</p>
