---
layout: post
title: WWDC 2016 Scholarship Orientation Day
date: 2016-06-26 19:39:49.000000000 +02:00
type: post
published: true
status: publish
categories:
- WWDC
tags:
- Apple
- Tim COOK
- WWDC
- WWDC 2016
- WWDC Scholarship
meta:
  _edit_last: '1'
  _yoast_wpseo_focuskw_text_input: Scholarship
  _yoast_wpseo_focuskw: Scholarship
  _yoast_wpseo_linkdex: '86'
  _yoast_wpseo_content_score: '30'
  _yoast_wpseo_primary_category: '19'
  _jetpack_related_posts_cache: a:1:{s:32:"8f6677c9d6b0f903e98ad32ec61f8deb";a:2:{s:7:"expires";i:1493591741;s:7:"payload";a:3:{i:0;a:1:{s:2:"id";i:48;}i:1;a:1:{s:2:"id";i:348;}i:2;a:1:{s:2:"id";i:169;}}}}
  _thumbnail_id: '214'
  _wpas_done_all: '1'
  _jetpack_dont_email_post_to_subs: '1'
author:
  login: sanaa.squalli@gmail.com
  email: sanaa.squalli@gmail.com
  display_name: Sanaa Squalli
  first_name: ''
  last_name: ''
---
<p>This year I won a scholarship to attend the world renowned Apple developers conference WWDC 2016, you can find out how I won this scholarship in a <a href="http://www.sanaasqualli.com/how-i-got-wwdc-scholarship/">previous article</a>.</p>
<p>To meet other winners, hear insights from Apple Engineers and get advice on how to get most out of WWDC, Apple holds an Orientation Day for scholarship recipients on Sunday prior the Keynote day.</p>
<p>In this article, I will describe this special event, with permission from Apple.</p>
<h3><b>Opening </b></h3>
<p>The Orientation was on June 12th, 2016 at Mission Bay Conference Center starting from 11:00 am to 5:00 pm.</p>
<p>Upon arrival, Apple was ready for the registration of all participants. They gave special badges mentioning “WWDC Scholarship Winner 2016” and nice jackets designed by Apple.</p>
<p>After registration, we had the opportunity to have lunch and meet other scholars.</p>
{% include image.html
            img="uploads/2016/06/WWDC16Badge.jpg"
            width="450" height="600"
            title="WWDC16Badge"
%}
<h3><b>Talks</b></h3>
<p>At 2:00pm, after refreshments, we went to another conference room where key speakers were giving talks.</p>
{% include image.html
            img="uploads/2016/06/estherHare.jpg"
            width="640" height="640"
            title="Esther Hare, welcoming WWDC Scholarship winners"
            caption="Esther Hare, welcoming WWDC Scholarship winners"
%}
<p><strong>Esther Hare</strong>  was the first speaker. She welcomed us and congratulated us on winning the scholarship. After which she dived into statistics of previous years applicants in comparison to this year (2016), 215% amazing increase through STEM organization and 22% increase in female applicants.</p>
<p><strong>John Geleynse</strong> talk was focused on ingredients of great apps, he addressed “How do you identify a great app?” and “How do you design a great app?”.</p>
<p>To achieve super compelling apps, he suggested 8 steps:</p>
<ol>
<li style="text-align: justify;"><strong>Inviting</strong>, great first impression matters with first time users.</li>
<li><strong>Intuitive</strong>, instantly familiar and immediately useable by the user. The developers should use standard platform conventions and build apps directly recognizable as expected by the audience.</li>
<li><strong>Engaging</strong>, building the app with new functionality and content, in order to retain users, whilst keeping them engaged. This is all about the design and not the technology used to implement the app.</li>
<li><strong>Enabling</strong>, unique apps allow you to do things you could not do before.</li>
<li><strong>Innovative</strong>, captivating and building something that leaves lasting impressions.</li>
<li><strong>State of the art</strong>, keeps up with emerging technologies and staying ahead of the latest trends</li>
<li><strong>Localized</strong>, reach out to everybody and maximize the customer base.</li>
<li><strong>Accessible</strong>, using accessibility framework.</li>
</ol>
<p><strong>Tim Isted </strong>demonstrated that simple design can develop user's focus. He took us through the progress and iteration of the London Underground map from how complicated it was to its current simple form. He also insisted on not simplifying the design too much to keep it intuitive and prevent user's frustration.</p>
<p>In continuation with the previous ideas, <strong>Anna Shrengelova </strong>a web designer at Apple put emphasis on the importance of design saying that design is not how it looks and feels but how it works.  It requires iteration to craft a good story which at the end helps in creating great software.<br />
There is always a team behind a great software, we should work together with skilled people, not be afraid of  the ones who think differently and learn to accept feedback.</p>
<p>Other speakers (<strong>Santiago Gonzalez</strong>, <strong>Nina Kominiak</strong>, <strong>Bill Dudney</strong>, <strong>Jill Vermillion</strong>) talked about their stories at Apple and what’s coming up next.</p>
<h3><b>Group Picture</b></h3>
<p>Right after the talks we all went outside to take a group picture.</p>
{% include image.html
            img="uploads/2016/06/WWDC16ScholarshipGroupPicture.jpeg"
            width="640" height="427"
            title="WWDC16 Scholarship Group Picture"
            caption="WWDC16 Scholarship Group Picture"
%}
<p>Tim Cook showed up, very kindly spending some time with scholarship winners.</p>
<p><img class="wp-image-219 aligncenter" src="{{ site.baseurl }}/assets/IMG_0359-e1466966589329-768x1024.jpg" alt="IMG_0359" width="450" height="600" /> <img class="wp-image-221 aligncenter" src="{{ site.baseurl }}/assets/IMG_0361-e1466966735405-768x1024.jpg" alt="IMG_0361" width="450" height="600" /></p>
<p style="text-align: center;"><em>WWDC16 badge autographed and selfie with Tim Cook</em></p>
<h3><b>Networking</b></h3>
<p>WWDC Scholarship winners spent the rest of the afternoon talking with each other and socializing with some Apple employees.</p>
<p>Finally, all WWDC Scholarship winners were given an Apple TV Developer kit!</p>
<p>You can check out my <a href="http://www.sanaasqualli.com/wwdc-2016-experience/">next post</a> on my experience at WWDC16.</p>
