---
layout: post
title: Highlights from Dublin Tech Summit 2017
date: 2017-02-19 10:32:06.000000000 +01:00
type: post
published: true
status: publish
categories:
- Tech
tags:
- Business
- Dashlane
- DTS
- Dublin Tech Summit
- Innovation
- Marketing
- Startup
- Technology
- User Experience
- Women In Tech
meta:
  _edit_last: '1'
  _yoast_wpseo_content_score: '30'
  _yoast_wpseo_primary_category: '21'
  _jetpack_related_posts_cache: a:1:{s:32:"8f6677c9d6b0f903e98ad32ec61f8deb";a:2:{s:7:"expires";i:1494212222;s:7:"payload";a:3:{i:0;a:1:{s:2:"id";i:169;}i:1;a:1:{s:2:"id";i:286;}i:2;a:1:{s:2:"id";i:48;}}}}
  _thumbnail_id: '351'
  _yoast_wpseo_focuskw_text_input: Dublin Tech Summit
  _yoast_wpseo_focuskw: Dublin Tech Summit
  _yoast_wpseo_linkdex: '76'
  _oembed_91a0ce00648001c524731dd13d091ca3: <blockquote class="twitter-tweet" data-width="550"><p
    lang="en" dir="ltr">Great crowd and discussion at my <a href="https://twitter.com/hashtag/dts?src=hash">#dts</a>
    panel <a href="https://twitter.com/DubTechSummit">@DubTechSummit</a> / talking
    <a href="https://twitter.com/hashtag/design?src=hash">#design</a> thinking &amp;
    doing &amp; experience qualities <a href="https://t.co/Ygx62Yr5k8">pic.twitter.com/Ygx62Yr5k8</a></p>&mdash;
    Roger (@rgrrmr) <a href="https://twitter.com/rgrrmr/status/832194148895686656">February
    16, 2017</a></blockquote><script async src="//platform.twitter.com/widgets.js"
    charset="utf-8"></script>
  _oembed_time_91a0ce00648001c524731dd13d091ca3: '1487714958'
  _oembed_c76f6c147d85cb92e9a459f91afd5e9d: "<blockquote class=\"twitter-tweet\" data-width=\"550\"><p
    lang=\"en\" dir=\"ltr\">\U0001F4AA\U0001F3FD\U0001F4AA\U0001F3FD\U0001F4AA\U0001F3FD\U0001F4AA\U0001F3FD\U0001F4AA\U0001F3FD\U0001F1EE\U0001F1EA\U0001F1EE\U0001F1EA\U0001F1EE\U0001F1EA\U0001F1EE\U0001F1EA\U0001F1EE\U0001F1EA\U0001F1EE\U0001F1EA&quot;DRIVING&quot;
    THROUGH DUBLIN | DailyVee 161 <a href=\"https://t.co/HAaeieT8Fr\">https://t.co/HAaeieT8Fr</a></p>&mdash;
    Gary Vaynerchuk (@garyvee) <a href=\"https://twitter.com/garyvee/status/832483386560110593\">February
    17, 2017</a></blockquote><script async src=\"//platform.twitter.com/widgets.js\"
    charset=\"utf-8\"></script>"
  _oembed_time_c76f6c147d85cb92e9a459f91afd5e9d: '1487714958'
  _wpas_done_all: '1'
  _jetpack_dont_email_post_to_subs: '1'
  _pingme: '1'
  _encloseme: '1'
  dsq_thread_id: '5794705685'
author:
  login: sanaa.squalli@gmail.com
  email: sanaa.squalli@gmail.com
  display_name: Sanaa Squalli
  first_name: ''
  last_name: ''
---
<p><b></b><span style="font-weight: 400;">The first edition of the </span><span style="font-weight: 400;">Dublin Tech summit</span><span style="font-weight: 400;">, an international technology conference, took place on February 15th and 16th 2017 in Dublin’s Convention Center. <a href="http://dublintechsummit.com">http://dublintechsummit.com</a></span></p>
{% include image.html
            img="uploads/2017/02/sanaa_camille_DTS.jpg"
            width="480" height="640"
            title="Camille &amp; Sanaa: Hello from Dublin Tech Summit. #Dashlane #WomenInTech #DTS"
            caption="Camille &amp; Sanaa: Hello from Dublin Tech Summit. #Dashlane #WomenInTech #DTS"
%}
<p><span style="font-weight: 400;">Very interesting talks, </span><span style="font-weight: 400;">panel discussions</span><span style="font-weight: 400;">, and workshop sessions made these 2-days an exciting and enriching experience.</span></p>
<p>Bellow are some of the inspiring sessions of <a href="https://www.youtube.com/channel/UCnpjwZLx0LDKpxNusCmQgoA">Dublin Tech Summit</a>:</p>
<h5><strong><em>"The art of storytelling"</em> by Matthew Luhn from Pixar.</strong></h5>
{% include image.html
            img="uploads/2017/02/Matthew_Luhn_DTS.jpg"
            width="533" height="400"
            title="Matthew Luhn from Pixar"
%}
<p><span style="font-weight: 400;">Stories are meaningful because there are </span><b>Memorable, Impactful </b><span style="font-weight: 400;">and </span><b>Personal.</b></p>
<p><span style="font-weight: 400;">People are personally connected to whoever create a story which is memorable and impactful.</span></p>
<blockquote><p><span style="font-weight: 400;">“A story is 22 more memorable than facts alone” - </span>Matthew Luhn</p></blockquote>
<blockquote><p><span style="font-weight: 400;">“Stories impact our “Happy” &amp;”Sad” chemicals” - Matthew Luhn</span></p></blockquote>
<p><span style="font-weight: 400;">Storytelling skills can be transferred to business skills while giving a presentation. The information wrapped around a story stays memorable.</span></p>
<p><span style="font-weight: 400;">Luhn admired how Steve Jobs used storytelling to reach his audience and evolve his companies.</span></p>
<p><span style="font-weight: 400;">By creating an unexpected story, you create a great hook and catch people's attention within the first 8 seconds.</span></p>
<blockquote><p>“Be vulnerable &amp; honest. Don't be clever” - Matthew Luhn</p></blockquote>
<p>To have a complete story, a <strong>Structure </strong>should be added to the authenticity and connection. Tell the story with a <strong>Set UP </strong>(a hook), a <strong>Build</strong>, and a <strong>Pay Off </strong>(the close).</p>
<blockquote><p>“Life is not about the destination it's about the journey” - Matthew Luhn</p></blockquote>
<hr />
<h5><strong><em>"Improving Engagement In Today's Social World"</em> by Chris Jones from Google.</strong></h5>
<p>Chris Jones was discussing online engagement and what business should include or improve in their online Strategy.</p>
<p>He started by giving some mobile <strong>Strategy</strong> tips, make it:</p>
<ul>
<li><strong>Fast</strong>, make articles and content fast.</li>
<li><strong>Easy for users</strong>, show steps, make sure it's very touch-friendly, size the text in the right way, think about people with disabilities.</li>
<li><strong>Consistent</strong> across all screens, Give options to continue work on different devices (e.g. TripAdvisor)</li>
</ul>
<p>To check how mobile friendly is a website, Chris Jones shared with us a great link <a href="http://testmysite.thinkwithgoogle.com">http://testmysite.thinkwithgoogle.com</a> <span class="js-display-url">that</span> gives a score of the Mobile Friendliness, Mobile Speed, and Desktop Speed. It also sends a detailed report on what should be fixed.</p>
{% include image.html
            img="uploads/2017/02/Chris_Jones_DTS.jpg"
            width="616" height="300"
            title="Choose the right Social Media you can engage with your customers."
            caption="Choose the right Social Media you can engage with your customers."
%}
<p>Chris Jones ended his talk by basic Social Media principles: Post on a regular schedule, Create catchy snippets and unique content. Increase engagement by including video and visual content and Have a clear call to action.</p>
<blockquote><p>“People don't share information, we share stories” - Chris Jones</p></blockquote>
<hr />
<h5><b>Dublin Tech Summit StartUp Workshops:</b></h5>
<h5><strong><em>"Get Your Team to Perform Quicker!"</em> by Snjezana Momic from Ryanair &amp; Dejan Cusic from Comtrade.</strong></h5>
<p><b></b>To accelerate your team to the fully-performing stage, the leader or Scrum Master have to analyze and diagnose the development level of the team and adapt the leadership style:</p>
<ol>
<li><strong>Directing</strong> (High Directive and Low Supportive behavior) when the team is in the <strong>Forming</strong> level (Learning about each other).</li>
<li><strong>Coaching</strong> (High Directive and High Supportive behavior) when the team is in the <strong>Storming</strong> level (Challenging each other).</li>
<li><strong>Supporting</strong> (Low Directive and High Supportive behavior) when the team is in the <strong>Norming</strong> level (Working with each other).</li>
<li><strong>Delegating</strong> (Low Directive and High Supportive behavior) when the team is in the <strong>Performing</strong> level (Working as one).</li>
</ol>
{% include image.html
            img="uploads/2017/02/scrum_workshop_DTS.png"
            width="600" height="588"
            title="Get Your Team to Perform Quicker"
%}
<blockquote><p>“Empowerment is all about letting go so that others can get going”</p></blockquote>
<p>Following this leadership plan will not only make your team perform quicker but also increase their productivity and morale to its highest level.</p>
<h5><em><b>"Empowering Your Team with OKRs" </b></em><b>by Henrik-Jan Van der Pol from Perdoo.</b></h5>
<p style="text-align: center;"><em>OKR = Objectives &amp; Key Results</em></p>
<p>OKR is a management strategy that has been used by companies like Google, Intel, and LinkedIn from their early days. It helps everybody understands how they can contribute in the best possible way and help drive the company forward as fast as possible.</p>
<p><strong>Objectives</strong> are the goals, they tell you where to go. Each objective has a few <strong>Key Results</strong>, which indicate how you will get there.<br />
Objectives are driven by the <strong>Mission &amp; Vision</strong>. The Mission tells everyone why you exist and the Vision is the dream, the long-term view, it provides the focus for the mission.</p>
<p>OKRs should be set annually and quarterly with a maximum of 5 Objectives/ 4 KR per quarter. Make OKRs ambitious and challenging, and expect to get 70% of the target as a great achievement. The Key Results must have a number to make them measurable and enable the evaluation of the Objective.</p>
<p style="text-align: center;">---------</p>
<p>At <a href="https://www.dashlane.com">Dashlane</a>, we have been using Scrum Agile Methodology for about 3 years. Recently, we started implementing OKRs in parallel with Scrum. Those two workshops <span class="b3">strengthened my knowledge</span><span class="b4">.</span></p>
<hr />
<h5><strong>Dublin Tech Summit Panel Discussion:</strong></h5>
<h5><strong><em>"The importance of Experience"</em> panel moderated by Neil Leyden from RTÉ.</strong></h5>
{% include image.html
            img="uploads/2017/02/Experience_Panel_DTS.jpg"
            width="533" height="400"
            title="Choose the right Social Media you can engage with your customers."
            caption="Choose the right Social Media you can engage with your customers."
%}
<p>The speakers were discussing the importance of User Experience and how high-quality User Experience plays a huge role in users satisfaction using a product or bringing traffic to a website.</p>
<blockquote><p>“Prototyping is not a stage. We should always be prototyping” - Christian Marc Schmidt</p></blockquote>
<blockquote><p> “As designers we spend a lot of our time thinking about how to do things, but we need to start asking ourselves why we do things” - Pia Betton</p></blockquote>
<blockquote><p>“We are becoming more fluent when it comes to understand and working with data” - Christian Marc Schmidt</p></blockquote>
<blockquote><p> “The best user experience are those that are surprising” - Christian Marc Schmidt</p></blockquote>
<p>1.<strong> Prototyping and testing: </strong>The importance of thinking and design thinking. Iterating to define and test experiences.</p>
<p>2. <strong>Frictionless: </strong>Listen to users and get their feedback to create a frictionless environment and a smooth experience verifying consistency.</p>
<p>3. <strong>Delightful:</strong> Create a delightful and meaningful experience</p>
<p>A good User Experience is thoughtfully crafted, pleasant, makes you happy, and gets you immersed.</p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Great crowd and discussion at my <a href="https://twitter.com/hashtag/dts?src=hash">#dts</a> panel <a href="https://twitter.com/DubTechSummit">@DubTechSummit</a> / talking <a href="https://twitter.com/hashtag/design?src=hash">#design</a> thinking &amp; doing &amp; experience qualities <a href="https://t.co/Ygx62Yr5k8">pic.twitter.com/Ygx62Yr5k8</a></p>&mdash; Roger (@rgrrmr) <a href="https://twitter.com/rgrrmr/status/832194148895686656">February 16, 2017</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr />
<h5><strong><em>"A Customer-Centric Approach To Success"</em> by Maria Martinez from Salesforce.</strong></h5>
<p>According to Maria Martinez, there are some movements that are really important and disruptive to the industry. The companies that are going to win the marketplace are the ones that will take advantage of the disruptions like social media, mobile, internet of Things, connected devices, and artificial intelligence. Some companies like Amazon and Uber are already leveraging these disruptions.<br />
The expectation of users is increasing because they are getting used to it. It creates a huge gap between what the user expect from suppliers and what is provided. This gap can be for example due to a bad user experience or a wrong built-in intelligence.</p>
<p>Salesforce came up with a solution to their client called <em>"Customer success platform"</em>, which allows companies to connect with their customers in a new way, from sales, marketing and support. They help customers achieve their values and meet the expectation of what they bought.<br />
By understanding what success means for customers: every customer has a different definition of success even if they purchase the same product because each of them wants to achieve different goals</p>
<blockquote><p>“Our job is to make our customers successful - If they are successful we are successful” - Maria Martinez</p></blockquote>
<blockquote><p>“Once your customer trusts you, everything changes” - Maria Martinez</p></blockquote>
<p>Salesforce has been investing on:<br />
<strong>Measuring renewals</strong> by thinking about the entire lifecycle from when the purchase is complete until the renewal happens, and that customers start a new cycle.</p>
<p><strong>Using a tremendous amount of data science</strong> to analyze how much customers are using the product and identify the areas that are not used to help and guide them.</p>
<p><strong>Creating advisory services</strong>: very talented individuals, tools, and capabilities that allow Salesforce to advise their customers down the right journey.</p>
<blockquote><p>“Our job is to help customer to achieve business value faster” - Maria Martinez</p></blockquote>
<div class="uv-card__header"></div>
<hr />
<h5><strong><em>"The Thank You Economy"</em></strong><i> by Gary Vee from VaynerMedia.</i></h5>
<p><b></b>I didn't know Gary Vaynerchuk and I have missed this session. Everyone at Dublin Tech Summit was talking about his talk, I couldn't but search for it online!</p>
<blockquote><p>“It’s not about how much money I make – I just genuinely wake up every day being extremely happy - I'm optimistic - I'm completely driven by gratitude” - Gary Vaynerchuk</p></blockquote>
<blockquote><p>“My success as a human is living happy” - Gary Vaynerchuk</p></blockquote>
<p>The message that Gary Vee wanted to share with the audience is to think about the life in success in "Clouds and Dirt" perspective:</p>
<p>Step back and understand the philosophical reasons for why you are doing something. Be a practitioner of your skill by thinking and crafting.</p>
<p>Recipe of success: pushing on both of those edges. The clouds (the philosophy, the "why") and the dirt (actually doing it, the "how")</p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">💪🏽💪🏽💪🏽💪🏽💪🏽🇮🇪🇮🇪🇮🇪🇮🇪🇮🇪🇮🇪&quot;DRIVING&quot; THROUGH DUBLIN | DailyVee 161 <a href="https://t.co/HAaeieT8Fr">https://t.co/HAaeieT8Fr</a></p>&mdash; Gary Vaynerchuk (@garyvee) <a href="https://twitter.com/garyvee/status/832483386560110593">February 17, 2017</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr />
<p><span style="font-weight: 400;">Left Dublin Tech Summit with </span><span style="font-weight: 400;">a good dose of positive vibes</span><span style="font-weight: 400;"> and energy. Many inspirational people!</span></p>
